#h1 {
    color:#a52948;
    font-family: verdana;
    letter-spacing: 5px;
    font-style: italic;
    text-align: center;
}

.h2 {
    color:#cc4768;
}

#h3 {
color: #2980B9;
}

#h4 {
color: #943126;
}

